*body{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    background-image: url('https://t3.ftcdn.net/jpg/13/76/53/48/240_F_1376534845_Zgb8slPzswN8lfjyE2E6k6mOIZsV4cjA.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: optimizeQuality;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}
body.darkMode{

    background-image: url('https://t3.ftcdn.net/jpg/07/02/80/94/240_F_702809430_YgeCsY0vzeUOFM1VysPmSPkXqr1vOVvL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    image-rendering: crisp-edges;
    image-rendering: optimizeQuality;

}




.toggle{
    height: 150px;
    width: 320px;
    background-color: #ffff;
    border-radius: 100px;
    box-shadow: 5px 10px 15px gray;
    cursor: pointer;
        
}

.toggle::before{
position: absolute;
content: "";
height: 110px;
width: 110px;

background-image: url('https://media.istockphoto.com/id/1162188332/vector/sun-with-sunglasses-smiling-icon.jpg?s=612x612&w=0&k=20&c=ihLiPGbNrE8qp6-wiJ5oLiaXLqW-PkxUvGYnYkvoeko=');
background-repeat: no-repeat;
background-size: contain;
border-radius: 50%;
top: 45%;
left: 530px;
transform: translateY(-15px);
transition:  all 0.3s ease-in-out ;
}

.toggle.active::before{
   
 left: calc(53% );
 background-image: url('https://media.istockphoto.com/id/1334613123/vector/moon-and-star-black-icon-of-moon-for-night-pictogram-of-crescent-and-star-logo-for-sleep-and.jpg?s=612x612&w=0&k=20&c=Gy6DGTiwY2lsGPXRr2f7kqPELZEUtG1MsSEce1BkPdo=');
background-repeat: no-repeat;
background-size: contain;
   
  
}