*{
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
  }
  

.main{
    height: 100%;
}



.nav{
    height: 100px;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: center;
    justify-content:space-between;
    
}

.logo{
    margin-left: 1vw;
    height: 60px;
    width: 100px;
    background-image: url('images/navlogo-removebg-preview.png');
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    margin-right: 9vw;
}




h2{
    font-size: 1.5vw;
    height: 7vh;
    width: 7vw;
    font-weight: lighter;
    text-align: center;
    display: flex;
    flex-direction: column;

}


h2:hover{
    
    background-color: #b5f8fe;
    border-radius: 6px;
}


.contant{
height: calc(100% - 100px);
width: 100%;
display: flex;
}

.part1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    
}
.part2{
    height: 70vh;
    width: 50vw;
    display: flex;
    text-align: left;
    justify-content: left;
    position: relative;
    top: 0;
    background-image: url(images/web.avif);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 2px 3px 3px #ffffff;
    
}
.part2 img{
    max-width: 100%;
    height: auto;
}

.heading1{
    font-size: 3.4vw;
    font-weight: 700;
    line-height: 8vh;
    font-weight: 300;
    text-align: left;
    margin-top: 3vw;
    margin-left: 2vw;
    color: #8884ff;
    
    
    
}
.heading2{
    font-size: 3vw;
    font-weight: 300;
    margin-left: 2vw;
    
    color: #0496ff;
}
.heading3{
    font-size: 3.3vw;
    font-weight: bold;
    margin-left: 0.5vw;
    line-height: 10px;
    color: #ff69eb;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}

p{
    font-size: 2vw;
    margin-left: 10px;
    color: #30343f;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
}



@media (max-width:600px) {
    

    h2{
        font-size: 2.5vw;
        
    }
    
    .nav{
        height: 46px;
    }

    .logo{
        height: 51px;
        width: 100px;
    }

    .nav2{
        gap: 5vw;
        margin-top: 7vw;
    }

    .contant{
        flex-direction: column;

    }
    
    .part1{
        width: 100%;
    
    }
    .part2{
        width: 100%;
        
    }
    .part2 img{
        max-width: 100%;
        height: auto;
        
    }

    .heading1{
        font-size: 8.2vw;
    }
    .heading2{
        font-size: 5vw;
    }
    .heading3{
        font-size: 6vw;
        margin-top: 20px;
    }

    p{
        font-size: 4vw;
               
    }
}